[gcode_macro _MMU_EREC_ACTION_EXCLUDE]
description: EREC Action only if not TPU

gcode:
    # Happy Hare retraction settings from sequence macros
    {% set active_filament = printer.mmu.active_filament %}
    MMU_LOG MSG="Filament Type {active_filament}"
    
    {% if active_filament.material != 'TPU' %}
      MMU_LOG MSG="Cutting cause not TPU Type {active_filament}"
      EREC_CUTTER_ACTION
    {% endif %}